@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie Renting store</h1>
    <p>Hello and welcome! This website is all about renting your favorite movies under your very own name and email! to register go <a href="UserRentals/Index.cshtml">here</a> to sign up</a> your credentials. If youd like to add and leave a review on any movies we may not have mentioned, simply mention them <a href="Movie/Index.cshtml">here</a>. If you'd like to reserve a movie simply go <a href="MovieRentals/Index.cshtml">here</a>. for more information, simply visit our privacy page linked below. </p>
</div>
